body {
    background-color: #282c34;
    color: #61dafb;
}

.footer {
    background-color: #3f4653;
    color: #61dafb;
}

.container {
    background-color: #20232a;
    color: #21a1f1;
}

h2 {
    color: #5c91d6;
}

h1 {
    color: #2d6ab9;
}

button {
    background-color: #61dafb;
    color: #000;
}

button:hover {
    background-color: #21a1f1;
}

a {
    color: #61dafb;
}

a:hover {
    color: #21a1f1;
}

select {
    background-color: #333;
    color: #61dafb;
}

.error {
    color: #ff0015;
    background-color: #000000;
    border: 1px solid #5c5c5c;
}

.success {
    color: #28a745; /* Green color */
    background-color: #20232a; /* Dark background */
    border: 1px solid #5c5c5c;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #555;
}

th, td {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #555;
}

tbody tr:nth-child(odd) {
    background-color: #444;
}

/* Game name text color for dark theme */
.game-name {
    color: #f0f0f0; /* Light text for dark theme */
}

/* Dark theme styles for form entry fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    background-color: #333; /* Dark background for dark theme */
    color: #fff; /* White text color for dark theme */
    border: 1px solid #555; /* Darker gray border */
    padding: 8px;
    border-radius: 4px; /* Rounded corners */
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #715bf0; /* Blue border on focus */
    box-shadow: 0 0 4px rgba(113, 91, 240, 0.5); /* Blue shadow on focus */
    outline: none; /* Remove default focus outline */
}

/* Placeholder text color */
::placeholder {
    color: #aaa; /* Light gray placeholder text for dark theme */
}

:root {
    --table-border-color: #555; /* Dark border color */
    --table-row-even-bg: #444; /* Darker background for even rows */
    --table-row-odd-bg: #333; /* Darker background for odd rows */
    --table-header-bg: #333; /* Darker background for table headers */
    --table-header-text-color: #ffffff; /* White text color for table headers */

    --difficulty-border-color: #715bf0; /* Example color for dark theme */
    --difficulty-hover-shadow: rgba(0, 0, 0, 0.4); /* Example shadow for dark theme */
    --difficulty-text-background: rgba(0, 0, 0, 0.7); /* Dark background */
    --difficulty-text-color: #fff; /* Light text color */
}
