body {
    background-color: #f5f5f5;
    color: #333;
}

#greeting {
    color: #ff6600; /* Adjust color as needed */
}

.container {
    background-color: #ffffff;
    color: #333;
}

h2 {
    color: #4f7cb6;
}

h1 {
    color: #000000;
}

button {
    background-color: #007bff;
    color: #fff;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

select {
    background-color: #ffffff;
    color: #000000;
}

.error {
    color: #ff0015;
    background-color: #ffffff;
    border: 1px solid #5c5c5c;
}

.success {
    color: #28a745; /* Green color */
    background-color: #ffffff; /* Dark background */
    border: 1px solid #5c5c5c;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

:root {
    --table-border-color: #ddd; /* Light gray border color */
    --table-row-even-bg: #f9f9f9; /* Light gray background for even rows */
    --table-row-odd-bg: #ffffff; /* White background for odd rows */
    --table-header-bg: #007bff; /* Blue background for table headers */
    --table-header-text-color: #ffffff; /* White text color for table headers */
}

