<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOG - Top 10 Scores</title>
    <script src="{{ url_for('static', filename='theme-control.js') }}" defer></script>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='light-theme.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='top_scores.css') }}">
</head>
<body>
    <div id="user-name" data-name="{{ name }}" style="position: absolute; top: 10px; left: 10px;">Hello Guest!</div>
    <div id="user-score" data-score="{{ score }}" style="position: absolute; top: 30px; left: 10px;">Score</div>
    <!-- Theme switcher buttons -->
    <div class="theme-switcher">
        <!-- <button id="light-theme" aria-label="Switch to light theme">🌞 Light</button>
        <button id="dark-theme" aria-label="Switch to dark theme">🌙 Dark</button> -->
        <button id="theme-toggle"
            data-light-theme="{{ url_for('static', filename='light-theme.css') }}" 
            data-dark-theme="{{ url_for('static', filename='dark-theme.css') }}">
            <span id="theme-icon">🌙</span> <!-- Initial icon set to the moon -->
        </button>
    </div>
    <div class="container">
        <h1>Top 10 Scores</h1>
        <form action="{{ url_for('handle_game') }}" method="POST">
            <main>
                <table class="scores-table">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Name</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for score in top_scores %}
                        <tr>
                            <td>{{ loop.index }}</td> <!-- Automatically increment rank -->
                            <td>{{ score[0] }}</td>
                            <td>{{ score[1] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </main>

            <div class="game-buttons">
                <form action="{{ url_for('exit_game') }}" method="POST" style="display: inline;">
                    <button type="submit">Back</button>
                </form>
            </div>
        </form>
    </div>
</body>
<footer>
    <!-- Add footer content if needed -->
    <p>&copy; 2024 World of Games. All rights reserved.</p>
</footer>
</html>

